<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albertkhang.bonsaicare">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreenThemeAndroid">
        <activity android:name=".activity.manage.bonsai.BonsaiDetailActivity"></activity>
        <activity android:name=".activity.manage.bonsai.NewBonsaiActivity" />
        <activity android:name=".activity.setting.ChangeSetting" />
        <activity android:name=".activity.manage.ManageReport" />
        <activity android:name=".activity.manage.ManageList" />
        <activity android:name=".activity.schedule.ScheduleItemActivity" />
        <activity android:name=".activity.schedule.ScheduleNewItemActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>